/*Fonts*/
/*Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

:root {
    --primary-color: #267BAA;
    --on-primary-color: white;
    --secondary-color: #FFDD9B;
    --on-secondary-color: white;
    --page-gradient: linear-gradient(120deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    --header-gradient: linear-gradient(90deg, var(--primary-color) 0%, #D7CB9E 100%);
    --heading-gray: #808080;
}

.inv-button {
    background: none;
    border: none;
}

.inv-button:hover {
    cursor: pointer;
}

.link-button a {
    color: inherit;
}

.link-button :hover {
    text-decoration: none;
}

form input, form select {
    padding: 1rem 0.8rem;
    border-radius: 8px;
    border: 1px solid gray;
}

.input-label-div {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.filled-button {
    padding: 1rem 1rem;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: none;
    color: var(--on-primary-color);
    font-weight: bold;
}

.filled-button:hover {
    cursor: pointer;
}

.outlined-button {
    padding: 1rem 1rem;
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
}

.outlined-button:hover {
    cursor: pointer;
}

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 2;
}

.divider {
    border: 1px solid white;

}


.major-course {
    background-color: #62B4FA;
}

.major-supporting {
    background-color: #C16DB9;
}


.major-elective {
    background-color: #FFA245;
}

.ccp-course {
    background-color: #DAAE6B;
}

.college-requirement {
    background-color: #C96161;
}

.completed-course {
    opacity: 0.6;
    box-shadow: 0 0 2px 2px #355e3b !important;
}

.page-with-header {
    margin-top: 4rem;
}

.styled-scrollbars {
    /* Foreground, Background */
    /*noinspection CssUnknownProperty*/
    scrollbar-color: darkgray whitesmoke;
}

.styled-scrollbars::-webkit-scrollbar {
    width: 10px; /* Mostly for vertical scrollbars */
    height: 10px; /* Mostly for horizontal scrollbars */
}

.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
    background: lightgray;
    border-radius: 5px;
}

.styled-scrollbars::-webkit-scrollbar-thumb:active { /* Foreground */
    background: darkgray;
}

.styled-scrollbars::-webkit-scrollbar-track { /* Background */
    background: whitesmoke;
    border-radius: 5px;
}

@keyframes flash-red {
    to {
        background-color: #cc0000;
    }
}

.inv-link {
    text-decoration: none;
    color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.error {
    color: red;
}

.section-card {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

.section-card h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--heading-gray);
}