.wrapper {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    z-index: 3;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%) translateX(-2rem);
}

.visible {
    transform: none;
}


.message-box {
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.2rem;
    border-radius: 4px;
    padding: 0.5rem 0.5rem;
}

.error-message {
    background-color: red;
}

.warning-message {
    background-color: yellow;
}

.ok-message {
    background-color: green;
}

.info-message {
    background-color: white;
}

.icon-button {
    color: white;
    padding: 0;
}

.icon-button svg {
    width: 20px;
    height: 20px;
}

.message-box p {
    max-width: 350px;
    word-wrap: break-word;
    text-overflow: ellipsis;
}