.share-study-plan-dialogue {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border-radius: 10px;
    color: #888888;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
}


.container form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width:40vw;
    min-width: 300px;
    max-width: 400px;
}

.horizontal-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
}

.horizontal-div > * {
    font-size: 1rem;
    padding: 0.9rem 0.5rem;
    flex: 1;
}