.progress-bar {
    display: flex;
    flex-direction: row;
}

.progress-bar .empty {
    background-color: white;
    border-radius: 23px;
}

.progress-bar .filled {
    background-color: #C96161;
    border-radius: 23px;
}