.elective-card {
    display: flex;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: white;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    column-gap: 1rem;
    min-width: 115px;
    max-width: 120px;
    min-height: 80px;
}

.elective-card:hover {
    cursor: pointer;
}

.elective-card .package-name {
    font-weight: 600;
    font-size: 0.8rem;
    word-wrap: anywhere;
    hyphens: auto;
    user-select: none;
}

.elective-card .show-electives-button {
    color: white;
    align-self: flex-start;
    padding: 0.25rem;
}


.elective-card .title-div {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    user-select: none;
}

.elective-card .course-title {
    font-weight: 600;
    font-size: 0.8rem;
    word-wrap: anywhere;
}

.elective-card .course-code {
    font-weight: normal;
    font-size: 0.8rem;
}

.elective-card .icons-div {
    display: flex;
    flex-direction: column;
    row-gap: 0.1rem;
}
.elective-card.error-highlighted {
    animation: flash-red linear 0.25s 4 alternate;
}
